body {
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../simulators/lab.png");
}
@font-face {
	font-family: aeromatics;
	src: url("/static/simulators/AeroMatics-Regular.ttf");
}
@font-face {
	font-family: LT-Emphasis;
	src: url("/static/simulators/LT-Emphasis.ttf");
}
input {
	width: 75px;
	border-radius: 8px;
	background-color: #e6e6f2;
	font-family: "aeromatics";
}
canvas {
	background-color: #000000;
	pointer-events: none;
}

.active_pointer {
	pointer-events: auto;
}
.btn {
	border-radius: 8px;
	background-color: #e8c76a;
	font-family: "aeromatics";
}
button {
	cursor: pointer;
	border-style: outset;
	background-color: #ffffff;
	width: 100px;
	height: 40px;
	margin-right: 20px;
	border-radius: 8px;
	font-family: "aeromatics";
}
select {
	width: 165px;
	border-radius: 4px;
	background-color: #e8c76a;
	font-family: aeromatics;
}
.modal {
	overflow: scroll;
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
	transition: all 1s;
	z-index: 2;
}
.modal-content {
	color: #000000;
	background-color: #ffffff;
	width: 80%;
	max-width: 800px;
	padding: 10px 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	position: relative;
}
.modal-content p {
	text-align: justify;
	font-size: 18px;
}
.modal-content img {
	width: 80%;
	max-width: 200px;
	height: 80%;
	padding: 20px;
}
@media only screen and (max-width: 480px) {
	.modal-content div{
		display: flex;
		flex-wrap: wrap;
	}
}
.modal-content3 {
	color: #000000;
	background-color: #ffffff;
	width: 300px;
	padding: 10px 20px;
	margin: 20% auto;
	position: relative;
}
#modal:target {
	opacity: 1;
	pointer-events: auto;
}
#modal2:target {
	opacity: 1;
	pointer-events: auto;
}
#modalHipo:target {
	opacity: 1;
	pointer-events: auto;
}
#modalHiperLi:target {
	opacity: 1;
	pointer-events: auto;
}
#modalHiperMo:target {
	opacity: 1;
	pointer-events: auto;
}
#modalHipoMo:target {
	opacity: 1;
	pointer-events: auto;
}
#modalHiperSe:target {
	opacity: 1;
	pointer-events: auto;
}
#modalHiperSa:target {
	opacity: 1;
	pointer-events: auto;
}
.modalimg {
	width: 200px;
}

.dropdown {
	position: relative;
	padding: 0;
	margin: 10px 20%;
}

.noiseDropdown {
	display: none;
	position: absolute;
	left: -40px;
	background-color: #E8C76A;
	min-width: 240px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	border-radius: 10px;
	font-family: "aeromatics";
	color: #000000;
	font-size: 12px;
	padding: 10px 5px;
}

li {
	display: flex;
	flex: none;
	justify-content: space-between;
	padding: 5px 5px;
	width: 90%;
}

li label {
	margin: 0 1px;
}
li input {
	height: 20px;
	max-width: 55px;
	margin: 0 2px;
	text-align: center;
}

li input::placeholder {
	text-align: right;
}

.show {display:block;}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
