{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Videos Educativos</title>
    <link rel="stylesheet" href="{% static 'css/videos.css' %}" />
    <script
      src="https://kit.fontawesome.com/a98919fe7f.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header>
      <p class="logo"><a href="{% url 'index' %}">Inicio</a></p>
    </header>

    <div class="lab">
      <div class="module">
        <h2>VIDEOS EDUCATIVOS</h2>
      </div>
    </div>

    <div class="intro">
      <h3>Videos Educativos de Dispositivos Biomédicos</h3>
      <div class="row">
        <p>
          Los siguientes videos explican algunas de las funciones y
          características de equipos biomédicos de uso común. Han sido
          desarrollados por estudiantes de la asignatura de Bioinstrumentación
          2.
        </p>
      </div>
    </div>

    <div class="module2" id="cards">
      <div class="card">
        <iframe
          width="100%"
          height="70%"
          src="https://www.youtube.com/embed/QYxlAMhUvqM"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <p>Electrocardiógrafo</p>
      </div>
      <div class="card">
        <iframe
          width="100%"
          height="70%"
          src="https://www.youtube.com/embed/HQYsikC5juw"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <p>Monitor de presión arterial no invasivo</p>
      </div>
      <div class="card">
        <iframe
          width="100%"
          height="70%"
          src="https://www.youtube.com/embed/K1lwAxrtH68"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <p>Pulsoxímetro</p>
      </div>
      <div class="card">
        <iframe
          width="100%"
          height="70%"
          src="https://www.youtube.com/embed/dtLLNx0U1u4"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <p>Monitor de respiración</p>
      </div>
      <div class="card">
        <iframe
          width="100%"
          height="70%"
          src="https://www.youtube.com/embed/TB_Eidxv_ac"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <p>Incubadora</p>
      </div>
      <div class="card">
        <iframe
          width="100%"
          height="70%"
          src="https://www.youtube.com/embed/t9QCr634EwE"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <p>Bomba de Infusión</p>
      </div>
      <div class="card">
        <iframe
          width="100%"
          height="70%"
          src="https://www.youtube.com/embed/wqnZ5Td1uVI"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <p>Electrocirugía</p>
      </div>
    </div>
  </body>
</html>
